/*------------------------------------------------------------------------
# Variables
------------------------------------------------------------------------*/
$rgba_2 : rgba($palette-primary_2, 0.6);

/*------------------------------------------------------------------------
# Palettes
------------------------------------------------------------------------*/
.palette-primary {
	color: $text-contrast-palette-primary_5;

	/*-----------------------------------------------
	## 1
	-----------------------------------------------*/
	.button-primary,
	.form-submit .submit,
	.ninja-forms-field.btn,
	.call-to-action .button-primary:hover,
	.call-to-action .button-primary:focus,
	.background-secondary .button-primary:hover,
	.background-secondary .button-primary:focus,
	.nav > li > a:focus,
	.nav > li > a:hover,
	.pager li > a {
		background: $palette-primary_1;
		color: $text-contrast-palette-primary_1;
	}
	.call-to-action .button-primary,
	.background-secondary .button-primary {
		background: $text-contrast-palette-primary_1;
		color: $palette-primary_1;
	}
	.navbar-default .navbar-nav > li > a,
	.navbar-default .navbar-nav > li > a:hover,
	.navbar-default .navbar-nav > li > a:focus,
	.navbar-default .navbar-nav > .active > a,
	.navbar-default .navbar-nav > .active > a:hover,
	.navbar-default .navbar-nav > .active > a:focus {
		background: transparent;
		color: $palette-primary_1;
	}
	.site-header .widget.well .table a,
	.site-header .widget.well .table a:hover {
		color: $palette-primary_1;
	}
	.site-header .widget.well li > a:hover,
	.site-footer .widget.well li > a:hover {
		color: $text-contrast-palette-primary_1;
	}
	#reviews #comments ol.commentlist li .comment-text {
		border: 1px solid $palette-primary_1;
	}

	/*-----------------------------------------------
	## 2
	-----------------------------------------------*/
	.mod-beta {
		background: $rgba_2;
		color: $text-contrast-palette-primary_2;
	}
	.mod-beta p {
		color: $text-contrast-palette-primary_2;
	}
	.mod-beta::after {
		border-top: 30px solid $rgba_2;
	}

	/*-----------------------------------------------
	## 3
	-----------------------------------------------*/
	.background-secondary {
		background: $palette-primary_3;
		color: $text-contrast-palette-primary_3;
	}
	.dropdown-menu {
		background: transparent;
	}
	.navbar-default .navbar-nav .open .dropdown-menu > li > a {
		background: transparent;
		color: $palette-primary_1;
	}
	.navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
	.navbar-default .navbar-nav .open .dropdown-menu > li > a:focus,
	.navbar-default .navbar-nav .open .dropdown-menu > .active > a,
	.navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
	.navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
		background-color: $palette-primary_3;
		color: $text-contrast-palette-primary_3;
	}
	.site-header .well,
	.site-header .widget.well.widget_search .button-primary:hover {
		background: $palette-primary_3;
	}
	.site-header .well caption,
	.site-header .well,
	.site-header .table > tbody > tr td,
	.site-header .widget.well a {
		color: $text-contrast-palette-primary_3;
	}	

	/*-----------------------------------------------
	## 4
	-----------------------------------------------*/
	a,
	a:hover,
	a:focus,
	.link-primary,
	.link-primary:hover,
	.link-primary:focus,
	.link-secondary,
	.link-secondary:hover,
	.link-secondary:focus,
	.mod-blockquote p,
	.mod-gamma h2 {
		color: $palette-primary_4;
	}
	hr {
		background: $palette-primary_4;
	}
	.button-secondary,
	.mark,
	mark {
		background: $palette-primary_4;
		color: $text-contrast-palette-primary_4;
	}

	/*-----------------------------------------------
	## 5
	-----------------------------------------------*/
	.background-primary,
	.background-accent,
	.sliver-left,
	.sliver-right,
	.site-footer,
	&.search .site-content,
	&.error404 .site-content,
	&.single .site-content,
	&.archive .site-content,
	&.blog .site-content,
	&.page-template-page_home .hentry,
	&.page-template-default .site-content,
	.disabled-footer .site-footer,
	#boldgrid-sticky-filler,
	.panel-default > .panel-heading,
	.panel-body,
	.panel-footer {
		background: $palette-primary_5;
		color: $text-contrast-palette-primary_5;
	}
	.button-primary:hover,
	.button-primary:focus,
	.button-secondary:hover,
	.button-secondary:focus,
	.form-submit .submit:hover,
	.form-submit .submit:focus,
	.ninja-forms-field.btn:hover,
	.ninja-forms-field.btn:focus,
	.pager li > a:hover,
	.pager li > a:focus {
		background: none;
		color: $text-contrast-palette-primary_5;
	}
	h2,
	h3,
	.entry-title a,
	.entry-meta,
	.page-title,
	.widget-title,
	#reply-title,
	.comments-title,
	.comments-area,
	.mod-alpha,
	.mod-beta-2,
	.site-info a,
	.attribution a,
	.content-area .fa:hover,
	.content-area .fa:focus,
	.site-footer .well,
	.site-footer .well caption,
	.site-footer .well .table td,
	.site-footer a,
	#reviews #comments ol.commentlist li .meta {
		color: $text-contrast-palette-primary_5;
	}
	.mod-blockquote,
	blockquote {
		border-left: 2px solid $text-contrast-palette-primary_5;
	}
	.line-sm {
		border-top: 2px solid $text-contrast-palette-primary_5;
	}
	.panel-default {
		border-color: $palette-primary_5;
	}

	/*-----------------------------------------------
	## Et Cetera
	-----------------------------------------------*/
	&.error404 {
		.list-group-item {
			background: $palette-primary_4;
			border: 1px $text-contrast-palette-primary_4 solid;
			a {
				color: $text-contrast-palette-primary_4;
			}
		}
	}

	/*------------------------------------------------------------------------
	# Tiny MCE
	------------------------------------------------------------------------*/
	&.mce-content-body {
		background: $palette-primary_5;
		color: $text-contrast-palette-primary_5;
	}
}

/*------------------------------------------------------------------------
# Additional Body Classes
------------------------------------------------------------------------*/
.palette-primary.woocommerce .color1-color,
.palette-primary.woocommerce p.price.color2-color {
	color: $palette-primary_4 !important;
}
.palette-primary.woocommerce .color2-background-color {
	background-color: $palette-primary_4 !important;
}
.palette-primary.woocommerce .color-2-text-contrast {
	color: $text-contrast-palette-primary_4 !important;
}